.header{
    height: 60px;
    display:  flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header_tutte{
    color: white;
    padding: 3px 5px;
    margin-right: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 450;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header_tutte:hover{
    border: 0.8px solid white;
    cursor: pointer;
}
.header_search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 24px;

}
.header_searchInput{
    height: 28px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header_searchIcon{
    padding: 2px;
    height: 28px !important;
    background-color: #cd9042;
}
.header_nav{
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_optionLineOne{
    font-size: 10px;
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_optionBasket{
    display: flex;
    align-items: center;
}
.header_basketCount{
    margin-left:8px;
    margin-right: 10px;
}